.header {
    display: flex;
    justify-content: space-between;
    height: 74px;
    width: 69%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    margin-bottom: 36px;
}

@media screen and (max-width: 320px) {
    .header {
        height: 42px;
        padding-top: 16px;
    }
}