.profile__name {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
    margin: 0;
    grid-row: 1;
    grid-column: 1;
    grid-area: name;
    align-self: flex-end;
}

@media screen and (max-width: 950px) {
    .profile__name {
        font-style: normal;
        font-weight: 500;
        font-size: 27px;
        line-height: 33px;
    }
}